@import "./reset.css";

body {
    background-color: rgb(43, 43, 43);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    color: grey;
    font-size: 60px;
    cursor: pointer;
}

.star:hover {
    transform: scale(1.05);
}

.star.selected {
    color: rgb(255, 217, 0);
}

.starbox {
    background-color: rgb(48, 48, 48);
    border: 1px solid #222;
    display: flex;
}

section h2 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.reset {
    display: block;
    margin: 20px auto 0;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #ffffff;
    font-weight: 600;
    color: rgb(0, 0, 0);
}